@using YHC.Portal.Extensions;
@{
    ViewBag.Title = "修改登录密码";
    ViewBag.TopMenu = "icon_nav_setting";
    Layout = "~/Views/User/_LayoutUserPage.cshtml";
}

<div class="eveb_content">
    <ul class="eveb_nav_sub">
        <li><a href="/user/setting.html">个人资料</a></li>
        <li class="on"><a href="/user/loginpassword.html">登录密码</a></li>
        <li><a href="/user/withdrawalpassword.html">提款密码</a></li>
    </ul>
</div>
    <div class="eveb_content">
        <h2><i class="icon_medium icon_setting"></i>修改登录密码</h2>
        <form name="eveb_password">
            <ul class="eveb_form eveb_setting_form">
                <li>
                    <span>原密码：</span>
                    <input id="OldPassword" type="password" size="20" />
                    <label class="eveb_form_error">* 请填写您的原始登录密码</label>
                </li>
                <li>
                    <span>新密码：</span>
                    <input id="NewPassword" type="password" size="20" />
                    <label class="eveb_form_error">* 6-12位小写字母(a-z)或数字(0-9)组成</label>
                </li>
                <li>
                    <span>确认密码：</span>
                    <input id="ConfirmNewPassword" type="password" size="20" />
                    <label class="eveb_form_error">* 请再次填写新密码</label>
                </li>
            </ul>
            <div class="eveb_form_submit">
                <input id="btn_save" type="button" value="确认修改" class="button_medium button_1" />
                <input type="reset" value="重置" class="ml_10 button_medium button_3" />
            </div>
        </form>
    </div>

    <!--弹窗 黑底-->
    <div class="eveb_popup_wrap"></div>
    <!--弹窗 留言成功-->
    <div class="eveb_popup" id="eveb_popup_password_ok">
        <div class="eveb_popup_hd">
            <h4 class="fl">修改成功</h4>
            <a href="javascript:;" class="icon_mini icon_close fr" title="关闭"></a>
        </div>
        <div class="eveb_popup_bd">
            <div class="eveb_popup_content">
                <span><i class="icon_big icon_ok_3"></i></span>
                <p>修改登录密码成功！</p>
            </div>
            <div class="eveb_popup_btn">
                <a name="pop_close" href="javascript:;" class="button_medium button_1">知道了</a>
            </div>
        </div>
    </div>

    @section EndScripts{
        @Url.RenderScriptFile("/scripts/user/loginpassword.js")
    }
