
@{
    SEO seo = ViewBag.SEO as SEO;
    ViewBag.Title = seo != null ? seo.Title : "澳门银河";
    ViewBag.Keywords = seo != null ? seo.Keywords : "";
    ViewBag.Description = seo != null ? seo.Description : "";

    ViewBag.PageTag = "help";
    
    //IList<NewsCategory> helpMenu = ViewBag.HelpMenu as IList<NewsCategory>;
    //News content = ViewBag.Content as News;
}
@section styles{
}

@section scripts_head{
    @Url.RenderScriptFile("/scripts/page/help/helptab.js")
}

<!--about start-->
<div class="about-t">
</div>
<div class="about-m">
	<div class="about-main">
        <div class="about-m-l left">
            <ul class="tab">
                <li data-name="#tab1">关于我们</li>
                <li data-name="#tab2">企业文化</li>
                <li data-name="#tab3">社会贡献</li>
                <li data-name="#tab4">负责博彩</li>
                <li data-name="#tab5">使用条款</li>
                <li data-name="#tab6">免责声明</li>
                <li data-name="#tab7">隐私政策</li>
                <li data-name="#tab8">人才招聘</li>
                <li data-name="#tab9">会员操作</li>
            </ul>
        </div>
        <div class="about-m-r left">
            <h3 class="no-weight">关于我们</h3>
            <div class="about-p">
            	<h2 catid="0">关于我们</h2>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;银河娱乐场是亚洲地区其中一所最具规模的综合娱乐渡假发展及营运公司，为恒生指数成份股之一
（股票代码：HK00027）。于2002年获特区政府授予博彩经营权，可于澳门特区开设及经营娱乐场业
务。于2004年开始，银河娱乐场凭藉发展四间城巿娱乐会进军特区博彩业市场，成功在市场上为
品牌打好基础，于博彩业发展迅速的特区大展拳脚。银河娱乐场是首家获澳门特别行政区政府发
出博彩经营权的企业，首间上市的持牌博彩经营商,新一代赌王吕志和直营。我们将为您提供多元
化的博彩体验、安全可靠的资金及隐私保障、无微不至的优越服务！<br /><br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以博彩收益计算，特区是全球最大的博彩娱乐市场，亦是中华人民共和国境内唯一可以合法进行
博彩活动的地区。银河娱乐场以亚洲地区为服务核心，着重最顶级的服务质素，具备集休闲娱乐
于一身的世界级设施，致力配合特区政府实践可持续及适度多元发展的重要方针。<br /><br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作为特区的良好企业公民，银河娱乐场一直恪守承诺、肩负社会职责，致力打造特区「世界旅游
休闲中心」之定位、协助发展特区的多元文化、与各个社会机构保持良好关系、参与及支持各类
型慈善和社区活动，同时注重员工的身心健康发展。<br /><br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;银河娱乐场现拥有及经营位于特区半岛的旗舰超五星级星际酒店及娱乐场、经营四间城市娱乐会，
及位于路氹的「娱乐场™」是一项集休闲、渡假和娱乐于一身的大型综合渡假城，为特区创建一个
极具亚洲特色的渡假新胜地，进一步落实集团在特区及区内的长远发展。<br /><br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;银河娱乐场是亚洲首家网络投注平台，更是最大的网上博彩娱乐平台，其中有真人、体育、电子、
彩票等上百种各类游戏，获得菲律宾政府认证的合法网上博彩公司。自开始正式投入服务至今，一
直秉持诚信可靠，服务周到的企业宗旨为广大网上博彩游戏爱好者服务。银河娱乐场与“BBIN”等
合作，旨在打造亚洲最有公信力，最受玩家欢迎的在线博彩娱乐平台。<br /><br />

<span>诚信为本</span><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作为国际专业的网上博彩游戏运营商，我们承诺，为每一位客户提供最安全、最公平的博彩游戏，
以及全方位的服务。所有游戏共同的优点 — 不须耗时下载；接口简单明了；操作功能齐全；
画面精致优雅；游戏结果公平、公正、公开！<br /><br />

<span>多样化游戏</span><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;除了体育游戏项目多元化外，全方位提供：赌场老虎机，虚拟游戏，和扑克游戏等。精挑细选各
种在线游戏，给您提供最好的选择。真人荷官及娱乐场也是无可挑剔的,信誉可靠设有7*24小时 
进行在线监测，确保每一局游戏结果均为现场真实的游戏结果，而不是计算机默认的游戏结果。<br /><br />

<span>客户服务</span><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在竞争激烈的博彩市场中，银河娱乐场向来是众多玩家一致的选择，除了因为多元化的娱乐产品
使人流连忘返、更因为高质量的服务以及银河娱乐场-波音公司长久以来的良好信誉在广大玩家群
众之间建立了口碑。<br /><br />

<span>我们为客户提供最专业的娱乐服务：</span><br />
1、365天×24小时专业的客户服务，全天候处理会员出入款的相关事宜，严格训练的客服团队，
以专业、亲切的态度，让每位玩家有宾至如归的感觉!<br />

2、多渠道的与客户的互动交流，了解客户的需求，随时关注客户的意见及建议。<br />

3、举办更多的优惠及促销活动，给客户提供更多的回馈及惊喜。<br /><br />

<span>游戏责任</span><br />
银河娱乐场提倡有节制的赌博。我们建议阁下遵守以下一些基本规则：<br />
1、禁止未满18岁的人士参与赌博游戏。在加入游戏之前，请您确定您已年满18岁。<br />
2、自定博彩预算，并按预算下注。<br />
3、解决玩家对于网站、游戏的种种疑难杂症，让每位玩家有宾至如归的感觉! 我们自豪的以
业界最强的各种优惠方式回馈我们的会员，银河娱乐场绝对是玩家最明智的选择!</p>
            </div>
        </div>
        <!-- 企业文化 -->
        <div class="about-m-r left" style="display:none;">
            <h3 class="no-weight">企业文化</h3>
            <div class="about-p">
            	<h2>企业文化</h2>
                <p>
                	<img src="/Content/images/culture.jpg" />
                    <span>使命</span><br />
                    我們致力成為亞洲娛樂博彩行業的翹楚，力求為顧客提供超凡的娛樂博彩體驗，使員工作為公司的一份子深感自豪，亦能令與銀河業務有關人士稱心滿意。<br /><br />
                    <span>願景</span><br />
                    本著亞洲信念亞洲心，為顧客提供超凡的娛樂博彩體驗，並為行業樹立典範。<br /><br />
                    <span>價值觀</span><br />
                    ·我們積極了解顧客的需求，致力提供超凡的銀河體驗，對此深感自豪。<br />
                    ·我們真誠尊重每一位與銀河有關的人士。<br />
                    ·我們承諾全心全意地做到最好。<br />
                    ·我們貫徹審慎、高效、堅守誠信和即時應變的處事態度。<br />
                    ·緊密的團隊合作精神是我們締造成功的關鍵。<br />
                </p>
             </div>
        </div>
        <!-- 企业文化 -->
        <!-- 社会贡献 -->
        <div class="about-m-r left" style="display:none;">
            <h3 class="no-weight">社会贡献</h3>
            <div class="about-p">
            	<h2>社会贡献</h2>
                <p>
                	<img src="/Content/images/contribution.jpg" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作為亞洲首屈一指的娛樂博彩企業之一，銀娛注重業務發展的同時，多年來一直在澳門作出居民及旅客的投資，此外，集團亦積極履行企業社會責任，致力回饋澳門社會。銀娛除了大力支持及參與澳門各種不同類型的慈善及義工活動外，亦會繼續關心在香港及中國內地的慈善工作。<br /><br />
 
<span>成立「銀河娛樂集團基金會」</span><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;為慶祝銀娛投入營運10週年及旗艦項目「澳門銀河™」開業3週年，銀娛於2014年7月4日宣佈成立「銀河娛樂集團基金會」，先注資3億港元作為啟動基金，其後再投放10億港元，聚焦於澳門及中國內地的青少年教育及發展領域。
「銀河娛樂集團基金會」將會邀請各方賢達參與，為澳門和中國內地的繁榮及社會發展一起出力。
                </p>
             </div>
        </div>
        <!-- 社会贡献 -->
        <!-- 负责博彩 -->
        <div class="about-m-r left" style="display:none;">
            <h3 class="no-weight">负责博彩</h3>
            <div class="about-p">
            	<h2>负责博彩</h2>
                <p>
                	<span>我們的承諾</span><br />
銀河娛樂集團（下稱「銀娛」）旨在為每位客人提供愉快舒適和安全的娛樂體驗；然而，博彩活動帶來的刺激，偶爾亦會影響客人的自制及判斷能力。故此，銀娛一直積極推行各項負責任博彩措施，透過為客人提供相關資訊，確保他們在享受博彩的過程中，亦能夠作出精明理性的決定。<br /><br />
<span>負責任博彩之培訓</span><br />
銀娛深明推廣負責任博彩是一項任重道遠的義務，需要各方共同努力才見成效。因此，銀娛認為推廣工作要先從員工做起，透過不同類型的培訓課程，加強員工對負責任博彩之認識、識別問題博彩行為，以及避免讓未滿18歲人士接觸博彩的措施等。此外，銀娛透過向員工介紹多項由澳門特別行政區政府、銀娛和其他本地團體所提供的負責任博彩支援服務，讓他們能更有效地協助受博彩影響的客人。<br /><br />
<span>合法博彩年齡</span><br />
澳門特別行政區政府禁止未滿18歲之人士進入澳門任何一所娛樂場及在其內進行博彩行為。作為一所負責任企業，銀娛積極防止未滿18歲之人士進入集團旗下的娛樂場範圍，並嚴禁他們在在線網投進行博彩。<br /><br />
<span>向客人推廣負責任博彩</span><br />
銀娛為到訪集團旗下娛樂城的客人提供多種推廣負責任博彩的宣傳資料。<br /><br />
<span>問題博彩的徵兆</span><br />
·向他人隱瞞自己的博彩行為<br />
·因博彩而危害與他人的關係及違背自己作出的承諾<br />
·所花的時間和金錢，超出自己能力所能負擔<br />
·為博彩而借貸<br />
·嘗試贏回自己輸掉的金錢<br />
·為籌措金錢博彩而作出不法行為，如偽造文件、詐騙、盜竊等<br /><br />
<span>控制博彩行為的方法</span><br />
·設定及堅持在預算金額內進行博彩活動<br />
·紀錄每次的博彩活動<br />
·設定可以負擔的時間及金額
                </p>
             </div>
        </div>
        <!-- 负责博彩 -->
        <!-- 使用条款 -->
        <div class="about-m-r left" style="display:none;">
            <h3 class="no-weight">使用条款</h3>
            <div class="about-p">
            	<h2>使用条款</h2>
                <p>
                	「澳門銀河」並不就本網站所含或通過本網站所提供的資訊或材料(「內容」)的準確性、完整性、合法性、可靠性或可得性作出任何形式的陳述和保證(明 示或暗示)，也免除其需要承擔的責任及法律責任。您使用本網站提供的任何服務必須自行決定及承擔風險。所有內容如有變動，恕不另行通知。本網站所提供的一 切資訊僅供參考。有關「澳門銀河」的服務、活動和推廣的條件及條款全文，應向「澳門銀河」的客戶服務部索取。<br /><br />
「澳門銀河」會採取 合理的防範措施，為通過本網站所提供的個人資訊保密，但免除對未經授權而查閱、披露或使用該資訊的一切責任。在任何情況下，「澳門銀河」及其附屬公司、聯 營公司、管理人員、雇員、代理商、合夥人和專利授權發行商不會對因使用或通過本網站提供的內容、服務而導致的疏忽、違約及侵犯協 力廠商權利而引起的任何直接、間接、附帶、特殊、後果性或懲罰性損失負責。
                </p>
             </div>
        </div>
        <!-- 使用条款 -->
        <!-- 免责声明 -->
        <div class="about-m-r left" style="display:none;">
            <h3 class="no-weight">免责声明</h3>
            <div class="about-p">
            	<h2>免责声明</h2>
                <p>
                	進入本網站或使用本網站需遵守下述條款:<br /><br />
<span>免責聲明</span><br />
本網站所載之資料乃由銀河娛樂集團有限公司根據所知的最新資料編寫。此等資料被誠實地存載並只供公眾參考之用，並不可被依賴作任何特定用途。公司並無對此等資料的正確性及完整性作出任何保證或聲明。<br /><br />
公司，其高級人員、 僱員、 子公司、 關聯公司、 代理人、 繼承人及 / 或 受讓人一概無須以任何方式就本網站的資料傳遞或傳送失誤，不準確或錯誤對本網站使用者或任何其他人仕負任何直接或間接的責任。公司在此聲明不承擔本網站使 用者或任何其他人仕就使用或未能使用本網站所提供的資料或任何鏈接或項目所引致的損害或損失，包括但不限於收益，預期利潤的損失或失去的業務。<br /><br />
公司保留權利在適當的情況下修改及更正本網站之內容，而無須另行通知。<br /><br />
<span>知識產權</span><br />
公司或其關聯公司擁有或獲許可使用本網站展示的所有商標。<br />
未經公司事先書面許可，本網站的使用者不得複製，分發，改動，傳送或使用本網站的內容作公開或商業用途。在任何情況下，如未經公司事先書面許可，使用本網站並不構成獲許可或有權使用本網站展示的任何知識產權。<br /><br />
<span>資料的使用</span><br />
本網站的使用者不得將本網站所提供的資料用於任何不合法的目的或以任何方式違反任何法律或法規。
                </p>
             </div>
        </div>
        <!-- 免责声明 -->
        <!-- 隐私政策 -->
        <div class="about-m-r left" style="display:none;">
            <h3 class="no-weight">隐私政策</h3>
            <div class="about-p">
            	<h2>隐私政策</h2>
                <p>
                	使用本網站（WWW.YHC.COM）的人士不得將本網站所提供的資料用作任何非法用途或以違反任何法律或法規的方式使用。<br /><br />
<span>資料私隱</span><br />
澳門銀河承諾保障客人的個人資料(以下簡稱「資料」)。在此列出的私隱聲明符合澳門特別行政區政府的《個人資料保護法》。<br /><br />
<span>資料的使用</span><br />
澳門銀河收集及使用的資料限於其管理業務及為客人提供最高質素服務所需的特定資訊。澳門銀河可將該資料用於以下一項或多項用途：<br />
1.處理預訂及／或購買商品及服務；<br />
2.確定行程安排（包括預訂交通及酒店客房）；<br />
3.確定餐飲及其他娛樂安排（包括餐廳、電影院、表演、活動及套票等預訂）；<br />
4.訂閱我們的電子通訊及推廣訊息；<br />
5.營運我們的網上營銷及推廣活動（包括通知得獎者，告知並提供所得到的折扣、福利、活動資格、特權等）；<br />
6.處理查詢及投訴；<br />
7.處理帳單及付款；<br />
8.用作客戶調查及直接營銷用途；<br />
9.用作識別及核實用途；<br />
10.供澳門銀河本身參考、存檔及內部行政用途；<br />
11.遵守適用於澳門銀河，其子公司和／或附屬公司，或根據澳門或香港及以外的任何法律或法規（現有的和將來的）而需要遵守的對於披露和使用資料的義務，要求或安排；<br />
12.任何直接相關於，或與以上任何一個項目有關聯的任何用途。<br /><br />
<span>資料的收集</span><br />
我們可能會通過您使用本網站而收集如姓名、性別、年齡、通訊地址、婚姻狀況、出生日期、電話號碼、電子郵件地址和／或其他個人身份信息等的資料。當你訪問這個網站時，關於您電腦的某些信息也可能被收集，例如你正在使用的互聯網瀏覽器和操作系統，和互聯網服務提供商的域名。法律上你並不需要提供資料。然而，除非您提供資料，否則我們可能無法為你提供你可能要求的服務，設施和產品。<br /><br />
<span>資料的傳輸</span><br />
本公司可能需要就以上用途跟其員工、代理商、承包商、子公司、關聯公司和／或第三方供應商在遵守保密責任的情況下分享有關資料。如果法律或法庭命令有所要求、任何政府或執法機關有所要求或本著真誠披露有關資料是為保障澳門銀河或其他人士的權利或財產是有需要或合宜的時候，澳門銀河也可能會披露該資料。通過本網站所提供的資料，您同意就私隱聲明所載用途而作的資料處理，以及同意披露資料予我們位於其他司法管轄區的員工、代理商、承包商、子公司、關聯公司和第三方供應商。<br /><br />
<span>直接營銷活動</span><br />
如果你選擇你的資料不被用於直接營銷活動，請發送電子郵件到<a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="79004f41404040391e14181015571a1614">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("data-cfhash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}t.parentNode.removeChild(t);}}catch(u){}}()/* ]]> */</script>，郵件上註明你的姓名，並告知我們你不希望你的資料可用於營銷活動。此外，你可於進入或參加相關營銷計畫前行使不參與相關計劃的權利。<br /><br />
<span>Cookies</span><br />
我們的網站含有「cookies」，用以提高你瀏覽本網站的體驗。 Cookies是放置在你的電腦的互聯網瀏覽器中的小文檔，用以儲存你的喜好、交易模式、行為和其他統計資料。 Cookies本身並不提供你的電郵地址或其他個人資料。澳門銀河只會當你選擇提供該cookies給網站時，才獲取此信息。然而，一旦你選擇提供你的個人資料予網站，你的資料將可能存儲在cookies的資料中。大多數瀏覽器最初設置為接受cookies。如果你選擇不接受，你可以設置你的瀏覽器以關掉cookies或於被設置時通知你。但是如果你這樣做，我們可能無法提供這個網站的某些功能。<br /><br />
<span>資料的更改</span><br />
一切提供有關資料的人士可以查閱並更改其資料 。如果要行使這項權利，資料提供人可以致函以下電郵地址：<br /><br />                         
<span>年齡政策</span><br />
根據澳門法律，18歲以下人士不得進入娛樂場。我們的網站並不為18歲以下人士而設。其他司法管轄地區可能對本網站所討論的，或包含在本網站上的活動或信息而具有其他年齡限制。你須要為確保你的司法管轄地區沒有相關的，可能限制你瀏覽、使用，或以其他方式獲取本網站信息的，任何可適用限制。如有疑問，我們建議你徵詢你所屬的地方當局或法律顧問，以尋求進一步闡明。<br /><br />
<span>本私隱政策的更改</span><br />
我們可能會不時更改這私隱政策。我們鼓勵你隨時查閱本私隱政策，以確保你了解最新版本。
                </p>
             </div>
        </div>
        <!-- 隐私政策 -->
        <!-- 人才招聘 -->
        <div class="about-m-r left" style="display:none;">
            <h3 class="no-weight">人才招聘</h3>
            <div class="about-p">
            	<h2>人才招聘</h2>
                <p>
                	<span style="font-size:20px;">加入銀河發放耀眼光芒</span><br />
<span style="font-size:14px;">銀河娛樂集團在 「國際博彩業大獎」中榮獲「年度最佳娛樂場營運商（澳洲／亞洲）」</span><br /><br />

作為澳門最大的僱主之一，銀河娛樂集團（以下簡稱為「銀娛」）之所以能夠傲視同儕，全有賴旗下各員工不懈的努力。每個崗位對我們來說都極為重要，無論是從事博彩、酒店、企業管理範疇，或後勤辦公室的員工，我們都希望能與他們分享成果。<br /><br />
我們提供富挑戰性及回報甚豐的工作環境，給予機會並啟發員工竭盡全力帶給每一位賓客難忘的體驗。
培訓和發展對奠定事業基礎極為重要。銀娛明確的事業發展規劃和獨一無二的技能培訓給有能力及積極進取的員工提供了寶貴的機會，一展所長。<br /><br />
我們的「銀娛員工康樂會」和「銀娛義工隊」鼓勵旗下所有員工積極參與社區及公益慈善活動，身體力行，回饋社會。<br /><br />
<span>热门工作</span><br />
角子機服務員 - 澳門銀河<br />
專員 - 娛樂場禮遇服務<br />
娛樂場服務助理<br />
庄荷 - 娛樂桌 (全職)<br />
洗牌員<br />
銀河優越會專員<br />
主管 - 酒店管家<br />
客服代表（双语）
                </p>
             </div>
        </div>
        <!-- 人才招聘 -->
        <!-- 会员操作 -->
        <div class="about-m-r left" style="display:none;">
            <h3 class="no-weight" id="tab11">新手指南</h3>
            <div class="about-p">
                <h2>新手指南</h2>
                <p>
                    <span>Q</span>：我忘了账户登录密码，怎么办？<br />
<span>A</span>：您可以点击登录页面下方[忘记密码？]，根据提示填写资料即可通过绑定的邮箱找回。<br /><br />

<span>Q</span>：我可以直接在网络上存款吗？<br />
<span>A</span>：可以，银河娱乐提供多种在线存款选择，详情请查看[存款帮助]。<br /><br />

<span>Q</span>：存款成功了，为什么进入HG平台游戏投注，显示的余额为“0”呢？<br />
<span>A</span>：您需要将主账户的金额[户内转账]到HG平台后，才能进行投注。<br /><br />

<span>Q</span>：我可以绑定什么银行作为取款银行？<br />
<span>A</span>：我们目前支持工行、农行、建行、交行、招商银行、民生银行总行、兴业银行、中信银行、中国银行、广发银行、平安银行、中国光大银行、上海浦东发展银行、中国邮政储蓄银行作为取款银行。<br />
                </p>
             </div>
             <h3 class="no-weight" id="tab12">常见问题</h3>
            <div class="about-p">
                <h2>常见问题</h2>
                <p>
                    <span>Q</span>：我忘了账户登录密码，怎么办？<br />
<span>A</span>：您可以点击登录页面下方[忘记密码？]，根据提示填写资料即可通过安全问题找回。<br /><br />

<span>Q</span>：我可以直接在网络上存款吗？<br />
<span>A</span>：可以，澳门银河提供多种在线存款选择，详情请查看[存款帮助]。<br /><br />

<span>Q</span>：存款成功了，为什么进入HG平台游戏投注，显示的余额为“0”呢？<br />
<span>A</span>：您需要将主账户的金额[户内转账]到HG平台后，才能进行投注。<br /><br />

<span>Q</span>：我可以绑定什么银行作为取款银行？<br />
<span>A</span>：我们目前支持工行、农行、建行、交行、招商银行、民生银行总行、兴业银行、中信银行、中国银行、广发银行、平安银行、中国光大银行、上海浦东发展银行、中国邮政储蓄银行作为取款银行。<br />
                </p>
             </div>
             <h3 class="no-weight" id="tab13">如何存款</h3>
            <div class="about-p">
                <h2>如何存款</h2>
                <p>
                    存款前，请确保您已经注册并成为澳门银河娱乐城会员，如未注册，<a href="/regist.html">请点击此处进行注册</a>。<br /><br />
                    如果您未开通网上银行，请到当地银行柜台办理网上银行服务。<br /><br />
                    <span>以下是详细的存款步骤</span><br /><br />
                    <span>1.成功登陆后，点击存款选择在线支付</span><br /> 
                    在线支付通过第三方支付平台支付，支持即时存款到账。<br /><br />
                    <span>2.选择银行转账方式进行存款</span><br /> 
                    根据提示的银行账号存款，注意填写相应的汇款方式。转账成功后，请您及时联系在线客服，提供您的会员账号及入款金额，1分钟内即可到账。<br /><br />
                    <span>银行转账注意事项：</span><br />
                    1.公司收款银行不定期更换且不做提前通知，请您每次入款前查询公司最新收款账户，避免给您带来不必要的损失。<br />
                    2.请您存款时在金额后面加个尾数（如：入10000元，请转10000.15），方便快速到账。<br /><br />
                    <span>存款需知：</span><br />
                    [在线支付]单笔最低存款为 10 RMB , 最高存款无上限，请分多次存款；<br />
                    [银行存款]单笔最低存款为 100 RMB , 单笔最高存款无上限。
                </p>
             </div>
             <h3 class="no-weight" id="tab14">如何取款</h3>
            <div class="about-p">
                <h2>如何取款</h2>
                <p>
                    取款之前，请确保您已经注册并成为澳门银河娱乐城会员，如未注册，<a href="/regist.html">请点击此处进行注册</a>。<br /><br />
                    取款前请点击户内转账，确认您把金额已转至主账户，然后选择取款进行以下操作。<br /><br />
                    <span>1.首次取款，请绑定常用的提款银行账号</span><br /> 
                    绑定的银行卡姓名需与您注册填写的姓名一致。<br /><br />
                    <span>2.确认提款银行账户名和银行账号信息</span><br />
                    输入取款金额，取款密码，确定送出。<br /><br />
                    <span>取款常见问题：</span><br /><br />
                    <span>1.取款一般多久到账？</span><br />
                    澳门银河娱乐城会员享有取款100000RMB以内10分钟快速到账的取款服务。<br /><br />
                    <span>2.取款有限制吗？</span><br />
                    单次最低取款100RMB，单次最高取款上限为100000RMB，不收取手续费。<br />
                    每日取款上限5000000RMB。<br /><br />
                    <span>3.取款有没有银行卡的限制？</span><br />
                    您可以使用自己姓名的多张银行卡进行取款申请，但不能使用除了注册姓名之外的银行卡进行提款。<br /><br />
                    <span>4.为什么取款会扣除行政费用？</span><br />
                    我们保留审核会员账户权利，若由上次出款起，有效投注下注金额未达“每次存款额度”，<br />
                    而申请出款的会员公司将收取“存款额度”50%的行政费用，以及50RMB的出款手续费。
              </p>
             </div>
             <h3 class="no-weight" id="tab15">规则参考</h3>
            <div class="about-p">
                <h2>规则参考</h2>
                <p>
                        <span>1</span>.优惠活动只针对娱乐性质的会员，如发现用户拥有超过一个账户，包括同一姓名、同一邮件地址、同一/相似IP地址、同一住址、 同一借记卡/信用卡、同一银行账户、同一电脑、同一联系方式等其他任何不正常投注行为，一经发现，银河将保留冻结您的账户盈利及余额的权利。<br /><br />
    <span>2</span>.优惠活动对象为在线娱乐玩家，银河有权查核会员的一切投注记录，若会员违反活动已定下的条例及细则之规定或出现任何有非娱乐目的利用红利获利的情况，银河保留所有权利在任何时候都可以停止、取消优惠或索回已支付的全部优惠。<br /><br />
    <span>3</span>.任何个体/团队/组织被怀疑存在使用不诚实的方式或欺诈行为以骗取/滥用红利为目的，一经核实，银河将保留冻结相关账户盈利及余额的权利。<br /><br />
    <span>4</span>.如果相关帐户被怀疑滥用和/或不符合取得此项优惠的资格，银河保留要求会员提交相关证明文档验证核实身份的权利。<br /><br />
    <span>5</span>.通过"机器人"等第三方非法软件所进行的任何投注可视为非法投注，是严令禁止的行为。公司保留权利令所有非法的投注无效或认为是欺诈/不法行为，保留权利冻结涉嫌账户的余额和关闭会员账户。<br /><br />
    <span>6</span>.银河保留修改、订正和最终解释权，以及在未通知的情况下，在任何时间对活动的任何方面作出改变的权利。<br /><br />
    <span>7</span>.所有享受本优惠的会员需遵守银河用户协议的相关条款。<br /><br />
    <span>8</span>.银河对本优惠享有独立裁决权及最终解释权。

              </p>
             </div>
             <h3 class="no-weight" id="tab16">合作伙伴</h3>
            <div class="cooperation">
                <ul>
                    <li class="c-a"><a href="javascript:void(0)" class="c-1"></a></li>
                    <li class="c-b"><a href="javascript:void(0)" class="c-2"></a></li>
                    <li class="c-c"><a href="javascript:void(0)" class="c-3"></a></li>
                    <li class="c-d"><a href="javascript:void(0)" class="c-4"></a></li>
                    <li class="c-d"><a href="javascript:void(0)" class="c-5"></a></li>
                    <li class="c-c"><a href="javascript:void(0)" class="c-6"></a></li>
                    <li class="c-b"><a href="javascript:void(0)" class="c-7"></a></li>
                    <li class="c-a"><a href="javascript:void(0)" class="c-8"></a></li>
                    <li class="c-a"><a href="javascript:void(0)" class="c-9"></a></li>
                    <li class="c-b"><a href="javascript:void(0)" class="c-10"></a></li>
                    <li class="c-c"><a href="javascript:void(0)" class="c-11"></a></li>
                    <li class="c-d"><a href="javascript:void(0)" class="c-12"></a></li>
                    <li class="c-d"><a href="javascript:void(0)" class="c-13"></a></li>
                    <li class="c-c"><a href="javascript:void(0)" class="c-14"></a></li>
                    <li class="c-b"><a href="javascript:void(0)" class="c-15">即将加入</a></li>
                    <li class="c-a"><a href="javascript:void(0)" class="c-16">即将加入</a></li>
                </ul>
            </div>
            <h3 class="no-weight" id="tab17">vip中心</h3>
            <div class="about-p">
                <h2>vip中心</h2>
                <p>
                    <img src="/Content/images/vip.jpg" />
                    <br /><br /><span>VIP会员享受5大专项服务</span><br /><br />
                    ①VIP会员在官网充值可享受免审出入款，即时到帐；<br /><br />
                    ②可享专属特权娱乐厅；<br /><br />
                    ③可享受1对1的VIP贵宾级专人服务，更快捷，更贴心；<br /><br />
                    ④可得更高的返水；<br /><br />
                    ⑤不定期推出针对VIP会员的优惠活动，如积分兑换话费、抽奖iphone6s plus等。<br /><br /><br />
                </p>
             </div>
             <h3 class="no-weight" id="tab18">合作代理</h3>
            <div class="about-p">
            	<h2>合作代理</h2>
                	<p>
                    <span>加盟方案</span><br />
                    
                    银河娱乐城，与bb-in公司技术合作，澳门合法注册之博彩公司。拥有多元化的产品，使用最公平、公正、公开的系统，在市场上的众多博彩网站中，我们自豪的提供会员最优惠的回馈，给予合作伙伴最优势的营利回报! 无论您拥有的是网路资源，或是人脉资源，都欢迎您来加入银河娱乐城合作伙伴的行列，无须负担任何费用，就可以开始无上限的收入。银河娱乐城，绝对是您最佳的选择!<br /><br />
                    
                    <span>注册申请</span><br />
                    
                    请点击[代理注册]在线提出申请，并确实填写各项资料。银河娱乐城会评估审核联盟申请讯息，3日内由专员与您联系开通，并提供您的注册帐号、密码及推广链接。<br /><br />
                    
                    
                    <span>当月营利</span><br />
                     
                    当月最低有效会员 当月退佣比例<br />
                    </p>
                    <table width="680" cellspacing="0" cellpadding="0" >
                      <tr style="font-weight:bold;">
                        <td width="120">当月盈利
</td>
                        <td width="120">当月有效会员
</td>
                        <td width="200">真人、BB体育、电子
</td>
                        <td width="120">彩票(有效投注)
</td>
                        <td width="120">体育投注
</td>
                      </tr>
                      <tr>
                        <td>1-50000</td>
                        <td>5或以上</td>
                        <td>30%</td>
                        <td>0.1%</td>
                        <td>10%</td>
                      </tr>
                      <tr>
                        <td>50001-300000</td> 
                        <td>10或以上</td>
                        <td>35%</td>
                        <td>0.1%</td>
                        <td>30%</td>
                      </tr>
                      <tr> 
                        <td>300001-800000</td>
                        <td>50或以上</td>
                        <td>45%</td>
                        <td>0.1%</td>
                        <td>35%</td>
                      </tr>
                      <tr> 
                        <td>800001-1200000</td>
                        <td>100或以上</td>
                        <td>55%</td>
                        <td>0.1%</td>
                        <td>40%</td>
                      </tr> 
                      <tr>
                        <td>1200001以上</td>
                        <td>200或以上</td>
                        <td>65%</td>
                        <td>0.1%</td>
                        <td>45%</td>
                      </tr>
                      <tr>
                        <td colspan="5" style="color:#db0000;">当月投注额达到(500元)视为有效会员！彩票类包含：BB彩票、彩票投注
 
</td>
                      </tr>
                    </table>
                    <p>
                    <span>注：银河娱乐城保留上述条例之最终更改权！</span><br />
                    
                    请谨记任何使用不诚实方法以骗取佣金将会永久冻结账户，佣金一律不予发还！<br /><br />
                    
                    新合营商正式确立合作关系之后，须用心推广，前三个月需有每月3个或以上的有效会员增长，否则公司有权终止合作关系。<br /><br />
                     
                    
                     
                    
                    <span>回馈/佣金计算</span><br />
                    
                    <i>＊ 請注意：</i><br />
                    
                    　视讯、球类、机率等项目，以报表中【派彩】字段，扣除相应费用后，依照上表门坎 X 佣金百分比。<br />
                    
                    　彩票项目以报表中【实际投注】字段，扣除相应费用后 X 0.1% 佣金百分比。<br /><br />
                    
                    <i>＊</i> 当月联盟体系以：视讯、球类、机率、彩票等项目的【派彩/投注量/总额公点金额】扣除相应费用后产生退佣总计，成以相应退佣百分比後。<br /><br />
                    
                    <i>＊</i>  相应费用包括：会员各项优惠、存/取款相应手续费(请留意：银河娱乐城会员重复出款￥手续费/未达100%投注出款的手续费由会员吸收，不纳入计算)。<br /><br />
                    
                    <i>＊</i> 【当月最低有效会员】定义为，在月结区间内进行过最少500RMB有效下注的会员，如联盟体系当月未达【当月最低有效会员】最低门坎5人，则该月无法领取佣金回馈。联盟体系当月营利达到标准，而【当月最低有效会员】人数未达相应最低门坎，则该月佣金比例依照【当月最低有效会员】人数所达门坎相应的百分比进行退佣。<br /><br />
                    
                    <i>＊ 例：</i><br />
                    
                    　体系当月营利为￥100001，而当月有效会员人数为5人，联盟虽达到营利为￥200001，却未达到有效会员10人以上，故依照联盟有效会员人数5人的门坎的退佣比例核算。
                    </p>
                    <table width="600" cellspacing="0" cellpadding="0" >
                      <tr style="font-weight:bold;">
                        <td width="150">视讯</td>
                        <td width="150">机率</td>
                        <td width="150">彩票</td>
                        <td width="150">体育投注</td>
                      </tr>
                      <tr>
                        <td>25%</td>
                        <td>25%</td>
                        <td>0.1%</td>
                        <td>10%</td>
                      </tr>
                    </table>   
                    <p>
                    <i>＊例：</i>
                    
                    联盟体系当月最低有效会员达12人，当月派彩：视讯￥300000，机率￥20000，彩票有效投注￥800000，体育投注￥50000。如联盟体系当月相应费用统计为￥14000，则佣金计算方式为：<br /><br />
                    
                    　　<i>当月佣金计算：<br />
                    
                    　　(总派彩金额￥200000，退佣百分比为25%)<br />
                    
                    　　(彩票比例佣金 - ￥14000 相应费用) = ￥-13200<br /> 
                    
                    　　（￥-13200 + ￥200000）×25%  +￥50000体育投注×10%= ￥51700总退佣金额</i><br /><br />
                    
                    <i>*</i>佣金百分比，依未扣除相应费用前之"各项派彩"金额为准。<br />
                    
                    <i>*</i>假若本月可获得佣金为负数﹐ 将会带到下个月继续累计至可获得佣金为正数并高于￥500即可领取。<br /><br />
                    
                    <span>回馈/佣金支付</span><br />
                    
                    联盟佣金计算，结算区间为本月第一个礼拜一至下月第一个礼拜一前的周日，将会员盈利，以联盟方案分红公式计算，佣金由承办客服于每个月的第一个礼拜三开始与代理确认金额后，在5个工作天内将佣金直接汇入代理联盟登记之银行账号。<br /><br />
                              
                    
                    <i>如需申请代理，请咨询代理专员QQ:</i>
					</p>
                <div class="daili"><a href="proxy/index.html">进入代理专区</a></div>
             </div>
            <div class="operating-li">
            	<ul>
                	<li><a href="#tab11"><span class="o-1"></span>新手指南</a></li>
                    <li><a href="#tab12"><span class="o-2"></span>常见问题</a></li>
                    <li><a href="#tab13"><span class="o-3"></span>如何存款</a></li>
                    <li><a href="#tab14"><span class="o-4"></span>如何取款</a></li>
                    <li><a href="#tab15"><span class="o-5"></span>规则参考</a></li>
                    <li><a href="#tab16"><span class="o-6"></span>合作伙伴</a></li>
                    <li><a href="#tab17"><span class="o-7"></span>VIP中心</a></li>
                    <li><a href="#tab18"><span class="o-8"></span>合作代理</a></li>
                </ul>
            </div>
        </div>
     </div>
</div>
<!--about end-->