
@{
    SEO seo = ViewBag.SEO as SEO;
    ViewBag.Title = seo != null ? seo.Title : "澳门银河";
    ViewBag.Keywords = seo != null ? seo.Keywords : "";
    ViewBag.Description = seo != null ? seo.Description : "";

    ViewBag.HtmlClass = "first";
}

<div id="page-post" style=" background:url(/Content/images/default/body.jpg) #795F22 top center no-repeat;">
    <div id="page-body">
        <div class="licence_Box" style="background:url(/Content/images/licence_bg.jpg) top center no-repeat;">
            <div class="licence-list" style="width:900px; overflow:hidden;">
                <h2 class="casino_h2">我们的信誉</h2>
                <div class="licence_pic" >
                    <img src="/Content/images/20150416072004_3514.png" />
                </div>

                <div class="licence_links">
                    <p>
                        <span style="color:#F7F7F7;">博彩牌照颁发机构官网：</span><a style="color:#EC0000" href="http://www.northcagayan.com/" target="_blank">http://www.northcagayan.com/</a> 
                    </p>
                    <p>
                        <span style="color:#F7F7F7;">博彩牌照查验真伪链接：</span><a style="color:#EC0000" href="http://www.northcagayan.com/partners.php" target="_blank">http://www.northcagayan.com/partners.php</a>
                    </p>

                </div>

                <p class="text">
                    <span style="font-size:14px;">【金沙娱乐】为菲律宾合法注册之博彩公司，持有菲律宾博彩监督委员会 North Cagayan Gaming and Amusement Corporation (NCGAC)颁布许可的合法博彩牌照 <strong><span style="font-family:SimHei;color:#EC0000;">No.12-OCGO-013-3</span></strong><strong></strong>&nbsp;，并受其监督及管辖。NCGAC (North Cagayan Gaming and Amusement Corporation)是一家位于Cagayan特别行政区和自由口岸的机构 Cagayan Special Economic Zone And Free Port (CSEZFP)也称（CEZA），是互动游戏的授权者及管理者，同时也是菲律宾唯一一个被政府承认并批准的国际性互动游戏经济区。CEZA 和 NCGAC 要求他们执照的拥有者使用经过批准的供应商的软件，以确保游戏操作平台对客户是公正及安全的。这不仅代表【金沙娱乐】博彩服务的合法性、可靠性、安全性，还表明【金沙娱乐】具有雄厚的资金保障和良好的诚信度，而其对游戏公平性的高度把关和对玩家利益的高度保障在国际范围内也被广泛认知，更意味着【金沙娱乐】的注册信息和银行账户的保密度得到进一步的保障， 极大限度的保障玩家隐私。</span>
                </p>


            </div>

        </div>
    </div>
</div>

