
<div class="fl aboutl">
    <div class="c">
        <div class="wraperh tc">
            <img src="/Content/images/aboutlogo.png" alt="" />
        </div>
        <ul class="anav ffw">
            <li>
                <a href="program.html" class="@(ViewBag.PageTag == "program" ? "on" : "") item9">
                    <p class="cn">联盟方案</p>
                    <p class="en">Program</p>
                </a>
            </li>
            <li>
                <a href="protocol.html " class="@(ViewBag.PageTag == "protocol" ? "on" : "") item10">
                    <p class="cn">联盟协议</p>
                    <p class="en">Protocol</p>
                </a>
            </li>
            <li>
                <a href="http://agent.testcnc.com/" target="_blank" class="item11">
                    <p class="cn">代理登入</p>
                    <p class="en">Sign in</p>
                </a>
            </li>
            <li>
                <a href="agent_regist.html" class="@(ViewBag.PageTag == "agent" ? "on" : "") item12">
                    <p class="cn">代理注册</p>
                    <p class="en">Registered</p>
                </a>
            </li>
        </ul>
        <div class="bline"></div>
    </div>
</div>